{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="text-center mt-5">
        <img src="{% static 'image/pic.jpg' %}" alt="ProfilePic" class="img-thumbnail" width ="250px" height="150px">
    </div>
    <div class="mt-5 text-white mx-4 text-justify">
        <h3 class="font-weight-bold st-font">Hello,</h3>
        <div class="px-4" style="line-height: 2rem;">
            <p style="text-indent: 100px;">I am <b class="text-warning">Poonam</b> and hails from Moga. I did my Msc-IT in from IIET Institute, Mohali, which is under Punjab Technical University, Jalandhar. I had completed my plus two from Government Girls Senior Secondary School in PSEB Boards. I have five members in my family and I am the eldest Daughter.</p>
            <p>My greatest strength is my ability to learn things quickly. For example, I had to represent my college in an inter college science exhibition, and was introduced to the team at the very last minute. I was able to understand our exhibits and artifacts and present them with great success”.
            <p> “I think my greatest strength is my positive attitude, even during the most hardest of times. During my college project, there has been couple of occasions, when our idea was not falling in place and the results were negative. I had to believe and think positively and keep my team motivated to persist on our idea, and finally we got the desired result.”
                “My best skill would be my verbal ability and articulation skill. I have worked as editor for our college magazine and have been involved with various literary forums during my school and college days.</p>
        </div>
    </div>
    <div class="text-center">
        <a href="" type="button" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="" class="btn btn-outline-info my-3 mr-5">Contact Me</a>
    </div>
</div>
{% endblock content %} 